trunk/Source/WorldMap/Service References/PredictionService/PredictionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NCRVisual.web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NCRVisual.web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfrefCountryIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="refCountryIndicator" nillable="true" type="tns:refCountryIndicator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrefCountryIndicator" nillable="true" type="tns:ArrayOfrefCountryIndicator" />
  <xs:complexType name="refCountryIndicator">
    <xs:sequence>
      <xs:element minOccurs="0" name="country_id" type="xs:int" />
      <xs:element minOccurs="0" name="country_indicator_value" type="xs:float" />
      <xs:element minOccurs="0" name="country_indicator_year" type="xs:int" />
      <xs:element minOccurs="0" name="indicator_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="refCountryIndicator" nillable="true" type="tns:refCountryIndicator" />
</xs:schema>