Source/WorldMap/Service References/PredictionService/PredictionService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ncrvisual.co.cc/Services/PredictionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NCRVisual.web.Services" />
  <xs:element name="PredictDataNextYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NCRVisual.web.Services" minOccurs="0" name="presentData" nillable="true" type="q1:ArrayOfrefCountryIndicator" />
        <xs:element minOccurs="0" name="yearsToPredict" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PredictDataNextYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NCRVisual.web.Services" minOccurs="0" name="PredictDataNextYearsResult" nillable="true" type="q2:ArrayOfrefCountryIndicator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>